.row
  .col-sm-2.col-sm-offset-3
    .plan_box
      %h3 Plan Free
      %p
        No Charge
        %br
        Good for evaluation
  .col-sm-2
    .plan_box
      %h3 Plan Good
      %p
        Everything in Free Plan
        %br
        Good for small businesses
  .col-sm-2
    .plan_box
      %h3 Plan Awesome
      %p
        Everything in Good Plan
        %br
        Good for enterprises
