- if @account.stripe_plan_id
  - if @account.active_until > Time.now
    = "Your subscription is active until #{@account.active_until}"
  - else
    = "Your subscription expired on #{@account.active_until}"
- else
  You are not currently subscribed.

%br
=link_to 'Change Subscription', edit_subscription_path(@account), class: 'btn btn-primary'
